/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #ffa000;
  --f7-theme-color-rgb: 255, 160, 0;
  --f7-theme-color-shade: #d68600;
  --f7-theme-color-tint: #ffaf29;
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 255;
  --g: 160;
  --b: 0;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Your app custom styles here */


.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
}
.demo-swiper .swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 23px 23px 23px 23px;
}
.demo-swiper {
  margin: 0px 0 35px;
  font-size: 18px;
  height: 120px;
}
.demo-swiper.demo-swiper-auto .swiper-slide {
  width: 85%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}


.imagenes {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 23px 23px 23px 23px !important;
  border: 0.3px solid #f7dfdf;
}

.textos {
  position: absolute;
  margin-top: 30%;
}
.textos2 {
  position: absolute;
  margin-top: 20%;
}
.icons {
  padding-left: 20px;
  padding-right: 20px;
}

.page-content {
  background-color: #FAFBFD;
}

#iconFiltro{
  padding-right:3%;
  padding-top:1%;
}

.page-content {
  background-color: #FAFBFD;
}

.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.demo-card-header-pic .card-content-padding .date {
  color: #8e8e93;
}

.espacio {
  height: 440px;
}

.imagen {
  height: 65vw !important;
}

#descripcion {
  text-align: justify;
}

.adicion {
  padding-right: 10px;
}

.block-title {
  padding-bottom: 5px;
}

h4 {
  color: #6d6d72;
}
.icarrito{
  color:#000;
  padding-top:3px;
}
.chipCarrito {
  padding-top: 25px;
  
  padding-left: 15px;
}

#inputCant{
  width:25px;
 
}
.list input[type=number] {
  height: 100% !important;
}
mark {
  background-color: #fff;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 0.3px solid #f7dfdf;
  margin:0px 2px 0px 2px 0px;
}
